{% extends "pagetemplate.html" %}

{% block content %}
    <h1>Аккаунт</h1>
    {% if notification %}
        <p style="color:{{ notification_type }}">{{ notification }}</p>
    {% endif %}
        <form action="/account" method="post">
            <input name="first_name" value="{{ first_name }}">
            <input name="last_name" value="{{ last_name }}">
            <input name="email" value="{{ acc_email }}" disabled>
            <select name="role">
                <option value="1" {% if acc_type == 1 %} selected {% endif %}>Клиент</option>
                <option value="2" {% if acc_type == 2 %} selected {% endif %}>Эксперт</option>
            </select>
            <button type="submit">Обновить информацию</button>
        </form>

    <br><a href="/logout">Выйти из аккаунта</a>
{% endblock %}