{% extends "pagetemplate.html" %}

{% block content %}
<div class="container" id="login">
    <div class="m-3">
        <h2 style="text-align: center">Вход</h2>
        {% if error %}
			<div class="alert alert-danger" role="alert">
			  {{ error|safe }}
			</div>
        {% endif %}
        <form action="#" method="post">
            <label class="p-2">Email *</label>
            <input type="email" name="email" class="form-control mb-3" placeholder="ivan.ivanov@yandex.ru" required>
            <label class="p-2">Пароль *</label>
            <input type="password" name="password" class="form-control mb-3" placeholder="Пароль" required>
            <button type="submit" class="form-control btn btn-primary">Войти</button>
            <div style="margin: 0 auto; text-align: center"><a href="/register">У меня ещё нет аккаунта</a></div><br>
        </form>
    </div>
</div>
{% endblock %}