<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{{title}} | Гармониум</title>
		<link rel="stylesheet" href="static/css/bootstrap.css">
		<link rel="stylesheet" href="static/css/style.css">
	</head>
	<body>
		<!--шапка сайта-->
		<div class="container">
			<nav class="navbar navbar-expand-lg navbar-light">
			<div class="container-fluid">
				<a class="navbar-brand" href="/"><img src="static/img/logo.png" width="32" height="32">Гармониум</a>
				{% if logged %}
				<div class="dropdown">
					<button class="btn dropdown-toggle" type="button" id="dropdownMenu" data-bs-toggle="dropdown" aria-expanded="false"><img src="static/img/user.svg" width="32"></button>

					<ul class="dropdown-menu" aria-labelledby="dropdownMenu">
						<li><a class="dropdown-item" href="/account">Аккаунт</a></li>
						{% if acctype == "2" %}
						<li><a class="dropdown-item" href="/clients">Записанные клиенты</a></li>
						{% else %}
						<li><a class="dropdown-item" href="/diary">Мой дневник</a></li>
						{% endif %}
						<li><a class="dropdown-item" href="/logout">Выйти</a></li>
					</ul>
				</div>
				{% else %}
					<a href="/login" class="btn btn-outline-primary">Авторизоваться</a>
				{% endif %}
			</div>
			</nav>
		</div>

			{% block content %}
			{% endblock %}

		<footer>
			<div class="container">
			<hr>
			<center><p style="color: grey;">(c) 2024 Гармониум</p></center>
			</div>
		</footer>
		<script src="static/js/bootstrap.bundle.min.js"></script>
	</body>
</html>
