{% extends "pagetemplate.html" %}
{% block content %}
    <div class="container">
					<div class="m-3">
						<form action="#" method="post">
							<center><h2>Регистрация</h2></center>
							<div class="row">
								<div class="col">
								<label class="p-2">Имя *</label>
								<input class="form-control" type="text" name="first_name" placeholder="Иван" required>
								</div><div class="col">
								<label class="p-2">Email *</label>
								<input type="email" class="form-control" name="email" placeholder="ivan.ivanov@yandex.ru" required>
								</div>
							</div><div class="row">
								<div class="col">
								<label class="p-2">Фамилия *</label>
								<input type="text" class="form-control" name="last_name" placeholder="Иванов" required>
								</div><div class="col">
								<label class="p-2">Пароль *</label>
								<input type="password" class="form-control" name="password" placeholder="Пароль" required>
								</div>
							</div><div class="row">
								<div class="col">
								<label class="p-2">Кто вы? *</label>
								<select name="role" class="form-control" required>
								<option value="1">Клиент</option>
								<option value="2">Эксперт</option>
								</select>
								</div><div class="col">
								<label class="p-2">Повторите пароль *</label>
								<input type="password" class="form-control" name="password2" placeholder="Пароль" required>
								</div>
							</div><div class="row">
								<div class="col"></div><div class="col"><button type="submit" class="form-control btn btn-primary m-2" required>Зарегистрироваться</button></div><div class="col"></div>
							</div>
                            <center>{{ error|safe }}</center>
						</form>
					</div>
			</div>
{% endblock %}
