{% extends "pagetemplate.html" %}

{% block content %}
    <div style="margin: 0 auto; text-align: center">
        <form class="garm-form">
            <div>
                <label for="email">Адрес электронной почты</label>
                <input id="email" placeholder="Электронная почта" required>
            </div>

            <div>
                <label for="password">Желаемый пароль</label>
                <input id="password" placeholder="Пароль" required>
            </div>

            <div>
                <label for="password2">Повтор пароля</label>
                <input id="password2" placeholder="Пароль ещё раз" required>
            </div>

            <div>
                <label for="first_name">Ваше имя</label>
                <input id="first_name" placeholder="Имя" required>
            </div>

            <div>
                <label for="last_name">Ваша фамилия</label>
                <input id="last_name" placeholder="Фамилия" required>
            </div>

            <p style="color:red;display:none" id="error"></p>

            <button type="submit">Зарегистрироваться</button>
        </form>
    </div>

<script>

</script>
{% endblock %}