{% extends "pagetemplate.html" %}
{% block content %}
    <!-- Start Register -->
    <section class="ec-page-content section-space-p">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="section-title">
                        <h2 class="ec-bg-title">Регистрация</h2>
                        <h2 class="ec-title">Регистрация</h2>
                    </div>
                </div>
                <div class="ec-register-wrapper">
                    <div class="ec-register-container">
                        <div class="ec-register-form">
                            <form action="/register" method="post">
                                <span class="ec-register-wrap ec-register-half">
                                    <label>Имя*</label>
                                    <input type="text" name="first_name" placeholder="Иван" required />
                                </span>
				<span class="ec-register-wrap ec-register-half">
					<label>Email*</label>
					<input type="text" name="email" placeholder="ivan.ivanov@yandex.ru" required />
				</span>
                                <span class="ec-register-wrap ec-register-half">
                                    <label>Фамилия*</label>
                                    <input type="text" name="last_name" placeholder="Иванов" required />
                                </span>
				<span class="ec-register-wrap ec-register-half">
					<label>Пароль*</label>
					<input type="password" name="password" placeholder="******" required />
				</span>
				<span class="ec-register-wrap ec-register-half">
					<label>Роль*</label>
					<span class="ec-rg-select-inner">
					<select name="role" class="ec-register-select" placeholder="Выберите вашу роль" required>
						<option value="1">Клиент</option>
						<option value="2">Эксперт</option>
					</select>
					</span>
				</span>
				<span class="ec-register-wrap ec-register-half">
					<label>Повторите пароль</label>
					<input type="password" name="password2" placeholder="******" required />
				</span>
                                <p style="color: #E32636; text-align:center; margin: 0 auto">{{ error|safe }}</p>
                                                                <span class="ec-register-wrap ec-register-btn">
                                    <button class="btn btn-primary" type="submit">Зарегистрироваться</button>
                                </span>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Register -->
{% endblock %}
