{% extends "pagetemplate.html" %}

{% block content %}
<div class="container">
    <center><h2>Дневник пользователя</h2></center>
    <b>Имя:</b> {{ user[3] }} {{ user[4] }}<br>
    <b>Email:</b> {{ user[1] }}<br><br>
    <div class="container shadow pt-3">
        <form method="post">
            <textarea class="form-control" name="text"></textarea>
            <input type="hidden" name="user_id" value="{{ user[0] }}">
            <button type="submit" class="btn btn-outline-success" style="margin-top: 5px">Добавить запись</button>
        </form>
        <br><hr><br>
        <div class="row"><div class="col">Дата добавления</div><div class="col-6">Описание</div><div class="col">Статус</div></div><hr>
        {% for d in diary %}
        <div class="row"><div class="col">{{ d[3] }}</div><div class="col-6">{{ d[4] }}</div><div class="col">{% if d[5] == "1"  %}Выполнено {% else %} Не выполнено {% endif %}</div></div><hr>
        {% endfor %}
    </div>
</div>
{% endblock %}